
body {
  background-color: #f4f4f4;
}
.heading {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
    background-color: white;
  }
  
  .heading.active {
    color: black;
  }
  

.description {
 
  padding: 25px 35px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  color: #888888;
}

.tab-heading {
  cursor: pointer;
}
div.tabs{
  padding: 30px;
  margin: 0;

}

div.title.active {
  margin: 0;
border: white;
}

div.description.title.active{
 
}
.title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
}

.title.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  
}

.toggle-icon {
  margin-right: 10px; /* Adjust the margin as needed */
  transform: rotate(0deg); /* Default rotation is 0 degrees */
  transition: transform 0.3s ease; /* Add a smooth transition for rotation */
}

.title.active .toggle-icon {
  transform: rotate(180deg); /* Rotate 180 degrees when title is active */
}

